

<section>
    <div class="container mt-4">
        <div class="row">


            <div class="col-md-6">
                <h2 class="text-center">Update profile</h2>
                <form action="/edit-profile/{{this.userDetails._id}}" method="POST" enctype="multipart/form-data">
                    <label for="">Name</label>
                    <input type="text" name="name" class="form-control" value="{{this.userDetails.name}}">

                    <label for="">Email</label>
                    <input type="email" name="email" class="form-control" value="{{this.userDetails.email}}">

                    <label for="">Mobile</label>
                    <input type="texts" name="mobile" class="form-control" value={{this.userDetails.mobile}}>

                    <label for="">Bio</label>
                    <input type="texts" name="bio" class="form-control" value={{this.userDetails.bio}}>

                    <label for="">Profile</label>
                    <img src="/profile-images/{{this.userDetails._id}}.jpg" alt="" style="width: 100px" id="imgView" class="pt-3">
                    <input type="file" class="form-control" name="image" onchange="viewImage(event)">

                    <button type="submit" class="btn btn-success mt-4" onclick="return confirm('Do you want to update')">Update</button>
                </form>
            </div>
        </div>
    </div>
</section>


<style>
    body{
    background:#f8f8f8
}
</style>

<script>
    function viewImage(event){
        document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
    }
</script>